<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Predictive.Lsdyna.Mpp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Predictive.Lsdyna.Mpp.Properties.Settings>
            <setting name="mppPath" serializeAs="String">
                <value />
            </setting>
            <setting name="lastWorkingDir" serializeAs="String">
                <value />
            </setting>
            <setting name="lastCommand" serializeAs="String">
                <value />
            </setting>
            <setting name="LSTC_LICENSE" serializeAs="String">
                <value />
            </setting>
            <setting name="LSTC_FILE" serializeAs="String">
                <value />
            </setting>
            <setting name="LSTC_LICENSE_SERVER" serializeAs="String">
                <value />
            </setting>
            <setting name="LSTC_LICENSE_SERVER_PORT" serializeAs="String">
                <value />
            </setting>
            <setting name="LSTC_PATH" serializeAs="String">
                <value>C:\LSDYNA\</value>
            </setting>
            <setting name="AFFINITY" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Acoustic_output" serializeAs="String">
                <value />
            </setting>
            <setting name="Interface_segment" serializeAs="String">
                <value />
            </setting>
            <setting name="Vda_geometry" serializeAs="String">
                <value />
            </setting>
            <setting name="CAL3D_input" serializeAs="String">
                <value />
            </setting>
            <setting name="TOPAZ3D_file" serializeAs="String">
                <value />
            </setting>
            <setting name="Stress_initialization" serializeAs="String">
                <value />
            </setting>
            <setting name="Mapping_input_file" serializeAs="String">
                <value />
            </setting>
            <setting name="Graphics" serializeAs="String">
                <value>d3plot</value>
            </setting>
            <setting name="Time_histories" serializeAs="String">
                <value>d3thdt</value>
            </setting>
            <setting name="Interface_force" serializeAs="String">
                <value />
            </setting>
            <setting name="FSI_interface_force" serializeAs="String">
                <value />
            </setting>
            <setting name="Dynamic_relaxation" serializeAs="String">
                <value>d3drfl</value>
            </setting>
            <setting name="DEM_interface_force" serializeAs="String">
                <value />
            </setting>
            <setting name="Input_echo" serializeAs="String">
                <value />
            </setting>
            <setting name="Restart_dump" serializeAs="String">
                <value>d3dump</value>
            </setting>
            <setting name="Interface_segment_save" serializeAs="String">
                <value />
            </setting>
            <setting name="Remap_Crack_database" serializeAs="String">
                <value>remap</value>
            </setting>
            <setting name="Running_restart_dump" serializeAs="String">
                <value>runrsf</value>
            </setting>
            <setting name="Property_output" serializeAs="String">
                <value>d3prop</value>
            </setting>
            <setting name="Mapping_output_file" serializeAs="String">
                <value />
            </setting>
            <setting name="License_Type" serializeAs="String">
                <value />
            </setting>
            <setting name="Local_License_File" serializeAs="String">
                <value />
            </setting>
            <setting name="License_Server" serializeAs="String">
                <value />
            </setting>
            <setting name="Network_License_Port" serializeAs="String">
                <value />
            </setting>
        </Predictive.Lsdyna.Mpp.Properties.Settings>
    </userSettings>
</configuration>